@background-color: #1f1f1f;
@background-color2: #3B4053;

/* Ant Design Custom Class */
.ant-tag {
    padding: 4px 9px !important;
    border-radius: 5px !important;
}

/* Project Custom Class */
.otaku-image {
    margin-bottom: 10px;
}

.otaku-panel {
    margin: 20px;
    padding: 20px;
    background-color: @background-color;
    border-radius: 5px;
}

.otaku-first-divider {
    margin-top: 0px !important;
}

.otaku-empty {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

